/* GLOBAL  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif, Arial;
  font-size: calc(15px + 0.390625vw);
  --color1: #127cc6;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
body {
  background: black;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  max-width: 25ch;
  line-height: 53px;
}
h2 {
  font-weight: lighter;
  font-size: 2.33rem;
  margin-bottom: 8px;
}
h3 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 39px;
  max-width: 50ch;
}
h4 {
  font-size: 1.265rem;
  font-weight: bold;
  line-height: 42px;
}

/* HEADER */
header {
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 26px;
  padding-inline: 64px;
  z-index: 1;
}

header > a > img {
  height: 52px;
}
nav {
  display: flex;
  gap: 24px;
}
#menu {
  display: flex;
  gap: 24px;
}
.menuLink {
  align-self: center;
  margin-top: 4px;
  padding: 4px;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.78rem;
  color: #fff;
  position: relative;
}

.menuLink::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  height: 2px;
  background-color: var(--color1);
  transition: transform 200ms ease-in-out;
  transform: scaleX(0);
}

.menuLink:hover::before {
  transform: scaleX(1);
}
#sandwichMenu {
  display: none;
}
.buttonSlide {
  display: inline-block;
  width: fit-content;
  background: var(--color1);
  color: #fff;
  font-size: 0.78rem;
  padding: 0.75em;
  text-decoration: none;
  position: relative;
  transition: color 200ms ease-in-out;
  z-index: 1;
}
.buttonSlide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #fff;
  transition: transform 200ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.buttonSlide:hover::before {
  transform: scaleX(1);
}

.buttonSlide:hover {
  color: var(--color1);
}

/* HOME SECTION */
#homeSection {
  display: inline-block;
  width: 100%;
  background-image: url("../images/backgroundTop.png");
  background-position: center;
  background-size: cover;
  padding-bottom: 160px;
  position: relative;
}
#homeContainer {
  padding-inline: 64px;
}
#descriptionContainer {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  max-width: 1440px;
  margin-inline: auto;
}
#descriptionContainer > h1 {
  margin-block: 20px;
}
#avalaibilityWork {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  font-size: 0.73rem;
  font-weight: lighter;
  padding: 0.7em 1.05em;
  border-radius: 10px;
  gap: 0.7em;
  margin-right: auto;
}
#circleOuter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(18, 198, 69, 0.3);
  width: 1.4em;
  height: 1.4em;
  border-radius: 100%;
}
#circleInner {
  background: #12c644;
  width: 0.8em;
  height: 0.8em;
  border-radius: 100%;
}
#numbersContainer {
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  margin-top: 40px;
  gap: 50px;
}
.infoContainer {
  z-index: 1;
}
.infoContainer span {
  font-size: 0.875rem;
  font-weight: lighter;
}
#gradientHome {
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  height: 300px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* SERVICE SECTION */
#ancreSection {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -80px;
}
#serviceSectionDesktop {
  position: relative;
  margin-top: -20px;
  padding-inline: 64px;
  margin-bottom: 166px;
}
#serviceContainer {
  display: flex;
  gap: 26px;
  margin-inline: auto;
  max-width: 1440px;
}
#serviceSectionMobile {
  display: none;
}

/* STYLE BUTTON ZOOM */

.imageZoom {
  position: relative;
  overflow: hidden;
  outline: black;
  transition: 0.4s ease-in;
  width: 100%;
}
.imageZoom:hover {
  outline: 1px solid var(--color1);
}
.imageZoom img {
  display: block;
  width: 100%;
  transition: 0.4s ease-in-out;
}
.imageZoom:hover img {
  transform: scale(1.175);
}
.imageZoom span {
  position: absolute;
  bottom: 56px;
  left: 56px;
  font-size: 0.875rem;
  font-weight: 600;
  transition: 0.4s;
}
.imageZoom:hover span {
  transform: scale(1.165);
}
.imageZoom span::after {
  content: "";
  position: absolute;
  width: 110%;
  transform: scaleX(0);
  height: 3px;
  bottom: -18px;
  left: 0;
  background-color: var(--color1);
  transform-origin: bottom left;
  transition: transform 0.3s ease-in;
}
.imageZoom:hover span::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* INTRO SECTION */
#introSection {
  padding-inline: 64px;
  margin-bottom: 166px;
}
#introContainer {
  margin-inline: auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  gap: 82px;
}
#introLeftContainer {
  flex: 1;
}
#introLeftContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#introRightContainer {
  flex: 1;
}
#introRightContainer p {
  font-size: 0.78rem;

  opacity: 0.7;
  line-height: 33px;
  font-weight: 500;
  margin-top: 26px;
  margin-bottom: 58px;
  margin-right: 80px;
}
.simpleLine {
  width: 210px;
  height: 3px;
  background: var(--color1);
  margin-top: 26px;
}
.simpleLine2 {
  width: 210px;
  height: 3px;
  background: var(--color1);
  margin-top: 18px;
}

#wrapLogoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.introLogoContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}
.introLogoContainer img {
  display: block;
  width: 56px;
  height: 56px;
}
.introLogoContainer span {
  font-size: 0.68rem;
  font-weight: 600;
  line-height: 26px;
}
/* GALLERY SECTION */
#gallerySection {
  margin-bottom: 120px;
  padding-inline: 64px;
}
#galleryContainer {
  max-width: 1440px;
  margin-inline: auto;
}

#galleryHeader {
  padding-top: 30px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.simpleLine {
  width: 210px;
  height: 3px;
  background: var(--color1);
  margin-top: 26px;
}

/* SELECT GALLERY PICTURE */
.select-box {
  margin-bottom: 10px;
  position: relative;
  display: block;
  color: #60666d;
  width: 250px;
  z-index: 2;
}

.select-box__current {
  position: relative;
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  transform: translateY(-50%) rotate(-180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 18px;
  transition: 0.3s ease;
}
.select-box__value {
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  padding-right: 50px;
  font-size: 0.8rem;
  background-color: black;
  border: 1px solid var(--color1);
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
  display: block;
  padding: 15px;
  background-color: var(--color1);
  font-size: 0.8rem;
}
.select-box__option:hover,
.select-box__option:focus {
  color: var(--color1);
  background-color: #fff;
}

@-webkit-keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

/* GALLERY PICTURES */

#galleryPictures {
  margin-top: 42px;
  display: grid;
  /* grid-auto-rows: 220px; */
  grid-template-columns: repeat(5, 1fr); /* Cinq colonnes de largeur égale */
  gap: 15px;
}
.imageGallery {
  overflow: hidden;
}
.imageGallery:hover {
  outline: 1px solid var(--color1);
}
.imageGallery img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 8/7;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s linear;
}
.imageGallery img:hover {
  transform: scale(1.1);
}
#popupPictures {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
}
#popupPictures span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}
#popupPictures img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 80vh;
}
#paginationContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}
#paginationContainer button {
  background-color: var(--color1);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  font-size: 0.6em;
}
#paginationContainer button:hover {
  background-color: var(--color1);
  opacity: 0.8;
}

/* ZONE SECTION */

#zoneSection {
  padding-inline: 64px;
  margin-bottom: 140px;
}
#zoneContainer {
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

#detailsZone p {
  font-size: 0.78rem;
  opacity: 0.7;
  line-height: 33px;
  font-weight: 500;
  margin-block: 26px;
  max-width: 40ch;
}
#locationZone {
  display: flex;
  align-items: center;
  gap: 100px;
}
#locationZone ul {
  list-style-position: inside;
}
#locationZone li {
  font-size: 0.78rem;
  line-height: 33px;
  font-weight: 500;
}

/* FOOTER */
footer {
  padding-inline: 64px;
  background: rgba(18, 124, 198, 0.1);
  padding-block: 40px;
}
#footerContainer {
  max-width: 1440px;
  margin-inline: auto;
}
#footerContainer > img {
  width: 180px;
  height: auto;
  display: block;
  margin-bottom: 72px;
}
#footerDescription {
  display: flex;
  gap: 76px;
}
#footerRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#footerInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}
#footerInfo span {
  color: #fff;
  opacity: 0.4;
  font-size: 0.5em;
}
#footerInfo p,
#footerInfo a {
  color: #fff;
  font-size: 0.7em;
}
#footerContact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#footerContact a {
  display: block;
}
#footerLocation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: 30px;
}
#footerSocial {
  display: flex;
  gap: 10px;
}

#footerSocial a {
  display: block;
  padding: 8px;
}
#footerSocial img {
  width: 26px;
  height: 26px;
}
#footerMessage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  column-gap: 30px;
  row-gap: 10px;
}
#footerMessage p {
  display: flex;
  color: #fff;
  font-size: 0.7em;
  width: 35ch;
}
#footerMessage span {
  color: #fff;
  opacity: 0.4;
  font-size: 0.6em;
  text-align: center;
}
#mentionLink {
  color: #fff;
  opacity: 0.4;
  font-size: 0.6em;
  text-align: center;
}
#mentionLink:hover {
  opacity: 1;
}

/* FORM CONTACT */

#formSection {
  padding-inline: 64px;
  margin-top: 50px;
}

#formSection p {
  font-size: 0.78rem;
  opacity: 0.7;
  line-height: 33px;
  font-weight: 500;
  margin-top: 18px;
  margin-bottom: 26px;
}
#formContainer {
  margin-inline: auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  gap: 82px;
  margin-bottom: 80px;
}
#formContainer > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#LeftFormContainer {
  max-width: 580px;
}

#formContact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#formContact input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  background: rgba(255, 255, 255, 0.1);
  line-height: 33px;
  color: rgba(255, 255, 255, 0.5);
  padding-inline: 20px;
  padding-block: 12px;
  font-size: 0.78rem;
  font-weight: 500;
  border: 0;
}
#formContact textarea {
  resize: vertical;
  min-height: 150px;
}

#submitButton {
  margin-top: 12px;
  margin-bottom: 32px;
  border: 0;
  width: auto;
}

#submitButton:hover {
  cursor: pointer;
}

#adviceMail {
  color: var(--color1);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.78rem;
  font-style: italic;
  padding-inline: 4px;
}
#services {
  background: rgba(255, 255, 255, 0.1);
  line-height: 33px;
  color: rgba(255, 255, 255, 0.5);
  padding-inline: 20px;
  padding-block: 12px;
  font-size: 0.78rem;
  font-weight: 500;
  border: 0;
}
#services option {
  background: #1a1a1a;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.78rem;
  font-weight: 500;
  /* border: 0; */
}
#siteweb {
  display: none;
}

/* LEGAL SECTION */

#legalSection {
  padding-inline: 64px;
  margin-top: 50px;
}
#legalContainer {
  margin-inline: auto;
  max-width: 1440px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  header {
    padding-inline: 40px;
  }
  #homeContainer {
    padding-inline: 40px;
  }
  #serviceSectionDesktop {
    padding-inline: 40px;
  }
  #introSection {
    padding-inline: 40px;
  }
  #introContainer {
    gap: 42px;
  }

  #gallerySection {
    padding-inline: 40px;
  }
  #zoneSection {
    padding-inline: 40px;
  }
  #wrapLogoContainer {
    gap: 12px;
  }
  .introLogoContainer {
    gap: 8px;
  }
  #locationZone {
    gap: 60px;
  }
  footer {
    padding-inline: 40px;
  }
  #footerDescription {
    gap: 46px;
  }
  #introRightContainer p {
    margin-right: 20px;
  }
  .imageZoom span {
    font-size: 0.7rem;
    left: 40px;
    bottom: 40px;
  }
  .imageZoom span::after {
    bottom: -14px;
  }
}
@media screen and (max-width: 822px) {
  #footerContainer > img {
    margin-bottom: 50px;
  }
  #footerLocation {
    padding-inline: 0;
  }
  .imageZoom span {
    font-size: 0.6rem;
  }
  #introContainer {
    flex-direction: column-reverse;
  }
  #serviceSectionDesktop {
    margin-bottom: 100px;
  }
  #introSection {
    margin-bottom: 100px;
  }
  #footerMessage p {
    width: auto;
  }
  nav {
    gap: 12px;
  }
  #menu {
    gap: 12px;
  }
  .imageZoom span::after {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  nav {
    gap: 24px;
  }
  #sandwichMenu {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  #sandwichMenu img {
    width: 40px;
    height: 40px;
  }
  #menu {
    position: absolute !important;
    flex-direction: column;
    top: 100px;
    left: -100%; /* Utilisez left au lieu de right pour cacher sur le côté gauche */
    background: black;
    overflow: hidden;
    transition: left 0.3s ease; /* Ajout d'une transition pour une animation fluide */
    padding: 40px 15%;
    border: #127cc6 1px solid;
    z-index: 10;
  }
  .menuLink {
    font-size: 0.9rem;
  }
  .select-box {
    width: auto;
  }

  /* Ajoutez un style pour afficher le menu lorsqu'il est ouvert */
  #menu.open {
    left: 0;
  }
}

@media screen and (max-width: 480px) {
  #galleryHeader {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #serviceContainer {
    flex-direction: column;
    margin-inline: 10%;
  }
  #zoneContainer {
    flex-direction: column;
  }
  #footerDescription {
    flex-direction: column;
  }
  #footerDescription > div {
    margin-inline: auto;
  }
  #footerSocial {
    margin-inline: auto;
  }
  #footerInfo {
    margin-bottom: 20px;
  }
  #footerMessage {
    text-align: center;
  }
  #footerMessage > div {
    margin-inline: auto;
  }
  .simpleLine {
    margin-top: 8px;
    width: 160px;
    height: 2px;
  }
  h1 {
    font-size: 1.4rem;
    line-height: 33px;
  }
  .select-box__input-text {
    font-size: 0.7rem;
  }
  .select-box {
    margin-bottom: 0px;
  }
  #galleryPictures {
    grid-template-columns: repeat(2, 1fr);
  }
  #formContainer > div > img {
    display: none;
  }
  #formContainer {
    gap: 0px;
  }
  #numbersContainer {
    flex-direction: column;
    text-align: center;
  }
  header {
    padding-inline: 20px;
    padding-bottom: 16px;
    padding-top: 16px;
  }
  header > a > img {
    height: 40px;
  }
  .introLogoContainer span {
    line-height: 16px;
  }
  #zoneSection {
    margin-bottom: 24px;
  }
  #footerContainer > img {
    margin-bottom: 30px;
    width: 140px;
  }
  #homeSection {
    padding-bottom: 120px;
  }
  #serviceSectionDesktop {
    display: none;
  }
  #serviceSectionMobile {
    display: block;
    padding-inline: 40px;
    margin-bottom: 60px;
  }
  .swiper-pagination-bullet {
    background: white;
  }
  .swiper-pagination-bullet-active {
    background: var(--color1);
  }

  .imageZoom span {
    position: absolute;
    bottom: 56px;
    left: 30px;
    font-size: 0.875rem;
    font-weight: 600;
    transition: 0s;
    transform: scale(1.165);
  }
  .imageZoom span::after {
    content: "";
    position: absolute;
    width: 110%;
    transform: scaleX(1);
    height: 2px;
    bottom: -10px;
    left: 0;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0px;
  }
  .imageZoom:hover img {
    transform: none;
  }
}
@media screen and (max-width: 400px) {
  #wrapLogoContainer {
    grid-template-columns: none;
    justify-content: center;
    gap: 20px;
  }

  #gallerySection {
    margin-bottom: 60px;
  }
  #introSection {
    margin-bottom: 60px;
  }
  #introRightContainer p {
    margin-bottom: 40px;
  }
  #formSection {
    padding-inline: 34px;
  }
  footer {
    padding-inline: 30px;
  }

  #galleryPictures {
    margin-top: 24px;
  }
  #footerInfo {
    flex-direction: column;
  }
}
